.users-list {
  max-width: 900px;
  margin: auto;
}

.container {
  display: flex;
  flex-wrap: wrap;
  flex: 0 0 30%;
  justify-content: space-between;
}

.box {
  width: 30%;
  margin-top: 30px;
}

.box-content {
  display: flex;
  flex-wrap: wrap;
}

.box-content .box-flex {
  padding: 5px;
}

.box-content img {
  width: 30%;
  border-radius: 50%;
  height: auto;
}

.details {
  font-size: 12px;
  font-weight: 500;
  margin-bottom: 10px;
}

.details a {
  color: green;
  text-decoration: none;
}

.details a span {
  font-size: 10px;
}

.followers {
  display: flex;
  flex-wrap: wrap;
  /* padding: 5px; */
}

.followers > div {
  margin: 5px;
}

.followers h2 {
  font-size: 12px;
}

.followers p {
  font-size: 12px;
}

@media screen and (max-width: 700px) {
  .users-list {
    padding: 10px;
  }

  .container {
    flex-direction: column;
  }
  .box {
    width: 100%;
  }
}
